.review-container{
  background-color: rgba(243, 243, 243, 1);
  padding: 100px 60px;
  
}
.review-container h2{
  font-family: 'PTSerif-Bold';
  font-size: 54px;
}
.review-header{
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  
}
.review-header-header{
  flex: 1;
  text-align: center;
}
.review-container h3{
  font-family: 'PTSans-Regular';
  color: var(--color-text);
  font-size: 30px;
  flex: 1;
}

.card-container{

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.review-card{
  width: 340px;
  height: 300px;
  background-color: white;
  font-family: 'PTSans-Regular';
  padding: 20px;
  /* box-shadow: 0 0 4px 4px rgba(255, 198, 13, 0.25); */
 
}
.review-card h4{
  margin: 20px 0;
  font-size: 18px;
}
.review-card p{
  color: var(--color-text);
}
.review-card h5{
  font-size: 16px;
  font-style: italic;
  padding-top: 10px;
  text-align: end;
}
@media (max-width: 1000px){
  .review-container{
    padding: 100px 20px;
  }
  .review-header{
    flex-direction: column;
    text-align: center;
  }
  .review-header-header{
    margin-bottom: 30px;
  }
}