@font-face {
  font-family: 'MeieScriptRegular';
  src: url('../../fonts/MeieScriptRegular.ttf');
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url('../../fonts/PTSerif-Bold.ttf');
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('../../fonts/PTSans-Regular.ttf');
}

.contact-page {
  background-color: #1a1a1a;
  display: flex;
  padding: 160px 0 160px 370px;
}

.left {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
}

.contact-top {
  font-family: 'PTSerif-Bold', sans-serif;
  font-size: 61px;
  color: white;
 }

.svg-contact {
  margin-bottom: 60px;
}

.contact-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  font-family: 'PTSerif-Bold', sans-serif;
  font-size: 32px;
  color: white;
 }

.contact-info {
  padding-left: 30px;
}

.address {
}

.right {
  color: white;
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 28px;
  font-weight: 400;
}