@font-face {
  font-family: 'MeieScriptRegular';
  src: url('../../fonts/MeieScriptRegular.ttf');
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url('../../fonts/PTSerif-Bold.ttf');
}

.contact-page {
  background-color: #1a1a1a;
  display: flex;
  padding: 80px 0 160px 370px;
}

.left {
  display: flex;
  flex-direction: column;
}

.contact-top {
  font-family: 'PTSerif-Bold', sans-serif;
  /*display: flex;*/
  /*flex-direction: column;*/
  font-size: 61px;
  padding-bottom: 100px;
  color: white;
}

.contact-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-left: 370px;
  padding-bottom: 20px;
  font-family: 'PTSerif-Bold', sans-serif;
  font-size: 32px;
  color: white;
 }

.contact-info {
  padding-left: 10px;
}

.right {
  color: red;
  font-size: 30px;
}