
nav{
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 134px;
  position: sticky;
  top: 0;
  /* max-width: 1300px;
  width: 100%; */
  padding: 0 20px;
}
#links{
  display: flex;
  
}
.link{
  font-family: "PT Sans", sans-serif;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: rgba(20, 20, 20, 1);
  text-decoration: none;
  text-transform:uppercase;
  margin-left: 40px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.link:hover {
  color:rgba(255, 198, 13, 1);
}
.link:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgba(255, 198, 13, 1);
    position: absolute;
    bottom: -6px;
    left: 0px;
  }
.menu{
  display: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 1024px){
  .link {
    font-size: 16px;
  }

@media (max-width: 768px){
 nav{
  flex-direction: column;
  align-items: start;
  padding: 0;
 }
 .menu{
  display: flex;
  top: 35px;
 }
 
 #links{
  display: none;
  flex-direction: column;
  width: 100vw;
  transition: display 0.2s ease-in-out;
 }
 #links.open {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
 }
 .link{
  width: 100%;
  text-align: center;
  margin-left: 0;
  margin-bottom: 10px;
 }
 .link:hover::after{
  content: none;
 }
}
}