* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.App{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* fancy intalic font */
@font-face {
	font-family: 'MeieScriptRegular';
	src: url('..//..//fonts/MeieScriptRegular.ttf');
}

/* main header's font */
@font-face {
	font-family: 'PTSerif-Bold';
	src: url('..//..//fonts/PTSerif-Bold.ttf');
}
/* regular text */
@font-face {
	font-family: 'PTSans-Regular';
	src: url('..//..//fonts/PTSans-Regular.ttf');

}

:root {
	--color-text: #141414;
	--color-yellow: #ffc60d;
	--color-white: #fff;
}


